<div
  class="select-container"
  [class.open]="isOpen"
  [class.open-up]="openUp"
  [style.--radius]="rounded"
  (click)="toggle()"
  >
  <div class="selected">
    {{ selectedLabel }}
    <svg
      class="arrow"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="20"
      height="20"
      >
      <path
        d="M7 10l5 5 5-5"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        />
    </svg>
  </div>

  @if (isOpen) {
    <div
      class="dropdown"
      [class.up]="openUp"
      (appClickOutside)="toggle()"
      (appClickBackspace)="selectOption(null, $event)"
      >
      @for (opt of options; track opt) {
        <div
          class="option"
          [class.disabled]="opt.disabled"
          [class.active]="value && (isMultiple ? value.includes(opt.value ?? opt): (opt.value ?? opt) === value)"
          (click)="selectOption(opt, $event)"
          >
            @if (
              value && isMultiple && (isMultiple ? value.includes(opt.value ?? opt): (opt.value ?? opt) === value)
                    ){
            <ng-icon [name]="Icons.Check" size="1.2rem"></ng-icon>
            }
          {{ opt.label ?? opt }}
        </div>
      }
    </div>
  }
</div>
