<app-block>
  <div class="header">
    <img [src]="data()?.img?.image_path" alt="">
    <h2 style="color: var(--text-color-primary)">{{data()?.title | slice:0:16}}</h2>
    <div class="age">
      <h3>{{data()?.minAge}}+</h3>
    </div>
  </div>
  <div class="info">
    <div class="item">
      {{data()?.description}}
    </div>
    <div class="item">
      <div class="label">Duration</div>
      <div class="value">{{data()?.playTime?.min}}-{{data()?.playTime?.max}} min</div>
    </div>
    <div class="item">
      <div class="label">Players</div>
      <div class="value">{{data()?.players?.min}}-{{data()?.players?.max}} <ng-icon [name]="Icons.UserGroup"></ng-icon></div>
    </div>
    <div class="item">
      <div class="label">Difficulty</div>
      <div class="value">
        <div class="stars">
          @for (i of [].constructor(data()!.difficulty); track i) {
            <ng-icon class="star" [name]="Icons.Star" size="1.5rem"></ng-icon>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="btn" routerLink="edit/{{data()?.id}}">
      <ng-icon [name]="Icons.Pencil"></ng-icon>Edit

    </div>
  </div>
</app-block>
