<app-block class="nav" [ngClass]="{
'opened': isNavOpened(),
}">
  @if (isNavOpened()){
    <app-firms (close)="isNavOpened.set(false)"></app-firms>
    <app-organization></app-organization>
    <app-navigation></app-navigation>
    <app-footer></app-footer>
  }
  @else {
    <app-navigation [short]='true' (openNav)="isNavOpened.set(true)"></app-navigation>
  }

</app-block>
<div class="holder">
  <app-notifications></app-notifications>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
