:host,
.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

:host::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

:host:not(:has(.modal-root)) > .backdrop {
  -webkit-backdrop-filter: blur(10px) saturate(110%);
  backdrop-filter: blur(10px) saturate(110%);
}
