:host {
  display: block;
  width: 100%;
  height: auto;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  .children {
    display: none;
    margin-left: 1rem;
  }
}
.spacer {
  width: 1rem;
}
.this {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: .5rem;
  border-radius: .5rem;

  .item {

    width: fit-content;
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    align-items: center;
    color: var(--text-color-secondary);
  }



  &:hover {
    background-color: var(--hover-color-primary);
    cursor: pointer;
  }
  &:active {
    background-color: var(--pressed-color-primary);

  }
}
.holder.opened {
  &>.children {
    display: block;
  }
}
