:host {
  width: 100%;
  height: 100%;
}
.block {
  display: flex;
  flex-direction: row;
  gap: .5rem;

  &:has(.btn) {
    .input-holder {
      width: 90%;
    }
    .btn {
      width: 10%;
      min-width: 50px;
    }
  }
  &:not(:has(.btn)) {
    .input-holder {
      width: 100%;
    }
  }
}

.filters-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;

}
@media (max-width: 800px) {
  .btn.main p {
    display: none;
  }
}
