:host {
  width: 100%;
  height: 70px;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background: var(--main-color-primary);

  border-radius: 2rem;
}


.btns {
  display: flex;
  gap: 1rem;
}
