@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html, body {
  touch-action: pan-x pan-y; /* отключает gestures кроме прокрутки */
  overscroll-behavior: none;

  font-size: 12px;
}

:root {
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #8b92a7;

  --main-color-primary: #151928;
  --secondary-color-primary: #0a0e1a;
  --border-color-primary: color-mix(in srgb, #B5AAED 80%, gray 80%);
  --hover-color-primary: #3817D8;
  --pressed-color-primary: #220F7F;
  --focus-color-primary: #573cdf;


  --main-color-info: #0647A9;
  --secondary-color-info: #CDDAED;
  --border-color-info: #ACC2E2;
  --hover-color-info: #053B8C;
  --pressed-color-info: #032354;
  --focus-color-info: #ACC2E2;

  --main-color-success: #255F0B;
  --secondary-color-success: #D3DFCE;
  --border-color-success: #B6CAAE;
  --hover-color-success: #1F4F09;
  --pressed-color-success: #122F05;
  --focus-color-success: #5e9547;

  --main-color-warning: #C4951B;
  --secondary-color-warning: #F3EAD1;
  --border-color-warning: #EBDCB3;
  --hover-color-warning: #A37C16;
  --pressed-color-warning: #624A0D;
  --focus-color-warning: #EBDCB3;


  --main-color-danger: #A92525;
  --secondary-color-danger: #F7F4FF;
  --border-color-danger: #E2B6B6;
  --hover-color-danger: #8C1E1E;
  --pressed-color-danger: #541212;
  --focus-color-danger: #ec7575;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "JetBrains Mono Light";
  font-optical-sizing: auto;
  font-style: normal;

  user-select: none;

  transition: all 0.2s ease-in-out;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  background-color: var(--secondary-color-primary);
}

h1,h2,h3,h4,h5,h6,span,a,li,div {
  color: var(--text-color-secondary);
}
.error {
  color: var(--focus-color-danger);
}
p {
  color: var(--text-color-primary);
}

/* Толщина скроллбара */
*::-webkit-scrollbar {
  width: 6px;   /* вертикальный */
  height: 6px;  /* горизонтальный */
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color-primary);
  border-radius: 999px;
  /* чтобы thumb не прилипал к краям */
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color-primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--pressed-color-primary);
}


.btn:has(ng-icon){
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: .5rem;

  ng-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background: var(--hover-color-primary);
  }
  &:active {
    background: var(--pressed-color-primary);
  }
}


.btn {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: .5rem;

  &.primary {
    background: var(--focus-color-primary);
    border: 1px solid var(--border-color-primary);
    color: var(--text-color-primary);
    &:hover {
      background: var(--hover-color-primary);
    }
    &:active {
      background: var(--pressed-color-primary);
    }
  }
  &.success {
    background: var(--focus-color-success);
    border: 1px solid var(--border-color-success);
    color: var(--text-color-primary);
    &:hover {
      background: var(--hover-color-success);
    }
    &:active {
      background: var(--pressed-color-success);
    }
  }
  &.danger {
    background: var(--focus-color-danger);
    border: 1px solid var(--border-color-danger);
    color: var(--text-color-primary);
    &:hover {
      background: var(--hover-color-danger);
    }
    &:active {
      background: var(--pressed-color-danger);
    }
  }

  &.secondary.danger {
    background: transparent;
    border: none;
    color: var(--text-color-secondary);
    &:hover {
      background: var(--hover-color-danger);
    }
    &:active {
      background: var(--pressed-color-danger);
    }
  }
}


.inputs-flex {
  display: flex;
  gap: 1rem;
}
.input-holder {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  position: relative;

  label {
    position: absolute;
    top: .25rem;
    left: .7rem;
    font-size: 1.4rem;
    color: var(--text-color-secondary);
  }
  .input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color-primary);
    background: var(--secondary-color-primary);
    border: 1px solid var(--border-color-primary);
    border-radius: 1rem;
    outline: none;

    &:not([type='range']) {
      &:focus {
        outline: 2px solid var(--focus-color-primary);
      }
    }
    &[type='number'] {
      field-sizing: content;
      max-width: 12ch;
      min-width: 5ch;
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }
  .range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.4rem;
    background: transparent;
    margin-top: 2rem;
    cursor: pointer;
  }

  /* ===== TRACK ===== */
  .range::-webkit-slider-runnable-track {
    height: 0.8rem;
    background: var(--pressed-color-primary, #ddd);
    border-radius: 1rem;
  }

  .range::-moz-range-track {
    height: 0.8rem;
    background: var(--pressed-color-primary, #ddd);
    border-radius: 1rem;
  }

  /* ===== THUMB ===== */
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--focus-color-primary);
    border-radius: 50%;
    border: none;
    transform: translateY(-25%);
    transition: background 0.2s ease-in-out, transform 0.1s;
  }

  .range::-webkit-slider-thumb:hover {
    background: var(--hover-color-primary);
    transform: scale(1.1) translateY(-25%);
  }

  .range::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--focus-color-primary);
    border-radius: 50%;
    border: none;
    transition: background 0.2s ease-in-out, transform 0.1s;
  }

  .range::-moz-range-thumb:hover {
    background: var(--hover-color-primary);
    transform: scale(1.1);
  }

  &:has(label) {
    .input {
      padding-top: 2rem;
    }
  }
}
